body {
  font-family: "Gill Sans", sans-serif;

}

.boxhandleproduct {
  position: relative;
  left: 240px;
  top: 65px;
  margin-top: 9px;
  width: 830px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px 0 1px rgba(0, 0, 0, 0.822), 6px 0 1px rgba(0, 0, 0, 0.822), 0 -2px 1px rgba(0, 0, 0, 0.829), 0 2px 1px rgba(0, 0, 0, 0.829);
}

.tb1product {
  color: #000000cf;
    border: #5f78ffcf 2px;
    border-collapse: collapse;
    border-spacing: 0;
    font-weight: bold;
    width: 721px;
    position: relative;
    bottom: 10px;
    right: 22px;
    margin-top: 11px;
}

.tb1product th {
  padding: 5px 10px;
  color: black;
  text-align: left;
  border-bottom: 1px solid #00000045;
  font-size: 13px;
  font-weight: 500;
}

.tb1product tr {
  text-align: center;
  padding-left: 10px;
  border: 1px solid white;
}

.tb1product td {
  padding: 4px 5px;
    background: linear-gradient(#0000000d 1%, white 10%);
    text-align: left;
    color: black;
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid #00000045;
}

#editIcon {
  position: absolute;
  top: 146px;
  right: 11px;
}

#plusIcon {
  position: absolute;
    top: 147px;
    right: 40px;
}

#withdataproduct, #withdatahandling,#withdataoverview {
  display: none;
}

#withdata {
  display: block;
}

.persegiproduct {
  height: 35px;
    width: 400px;
    color: white;
    background: linear-gradient(to right,#739bdb, #adc7e1);
    border-radius: 0px 20px 20px 0px;
    position: initial;
    font-weight: 700;
    align-items: center;
    text-align: left;
    display: flex;
    font-size: 13px;
    box-shadow: 3px 3px 3px black;
}

.bacperproduct {
  background: linear-gradient(to right, #7c7c7c, #ffffff);
    position: relative;
    right: 143px;
    top: 10px;
    height: 35px;
    width: 550px;
    border-radius: 20px 0px 0px 20px;
}

.ordertime {
  position: relative;
  left: 254px;
  bottom: 27px;
  font-size: 13px;
}

.handling {
  display: inline-block;
    position: absolute;
    font-size: 13px;
    left: 13px;
    font-weight: 500;
    top: 58px;
}

.groups {
  display: inline-block;
  font-size: 13px;
  position: absolute;
  font-weight: 500;
  left: 335px;
  top: 57px;
}

.urut-button {
  padding: 5px 5px;
  background-color: #000000cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

.urut-button:hover {
  background-color: #003d3d;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

/* CSS untuk tombol dropdown */
.dropdownbtn2 {
  background-color: #5f78ffcf;
  color: white;
  padding: 7px 480px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* CSS untuk konten dropdown */
.dropdowncontent2 {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 1000px;
  text-align: center;
}

/* CSS untuk item dropdown */
.dropdowncontent2 span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* CSS untuk item dropdown ketika dihover */
.dropdowncontent2 span:hover {
  background-color: #f1f1f1;
}

/* CSS untuk menampilkan konten dropdown saat tombol dropdown di-hover */
.dropdown2:hover .dropdowncontent2 {
  display: block;
}

#selected-image {
  display: none;
}

#close-button {
  display: none;
}

.border1 {
  border-color: #5f78ffcf;
  border-style: ridge;
  padding: 10px;
  width: 1030px;
  margin-top: 5%;
  height: auto;
  margin-left: 300px;
}

.border2 {
  border-color: #5f78ffcf;
  border-style: ridge;
  padding: 10px;
  width: 1030px;
  margin-top: 1%;
  height: auto;
  margin-left: 300px;
}

/* Modal Overlay */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Modal */
.modal {
  width: 300px;
  max-width: 90%;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 0;
}

.modal-body {
  padding: 15px;
}

#selected-image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: scroll;
}

/* Gaya untuk tombol "Close" */
#close-button {
  position: fixed;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  background-color: #5f78ffcf;
  color: white;
  border: none;
  cursor: pointer;
  opacity: 70%;
  border-radius: 4px;
  width: 150px;
  height: 40px;
  transition: 0.3s;
  font-size: 2vh;
}

.modalinput3 {
  border-radius: 5px;
  border-color: black;
  width: 185px;
  padding: 6px;
}

.btnmodal3 {
  margin-left: 65px;
  margin-top: 20px;
  border-color: #5f78ffcf;
  background-color: #5f78ffcf;
  border-radius: 5px;
  width: 130px;
  padding: 5px;
  color: white;
}

#close-button:hover {
  opacity: 100%;
  background-color: #5d5da2;
  transition: 0.3s ease;
}

.txtareaproduct {
  width: 664px;
  height: 80px;
  position: relative;
  bottom: 40px;
  left: 36px;
  top: -23px;
  resize: none;
  font-size: 12px;
}

#pack, #pack2 {
  display: inline-block;
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 13px;
  font-family: cursive;
}

#packlabel {
  display: inline-block;
  width: 25%;
  margin-bottom: 5px;
  font-size: 15px;
}

#description, #description2 {
  display: inline-block;
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  margin-bottom: 13px;
  font-family: cursive;
}

#descriptionlabel {
  display: inline-block;
  width: 25%;
  margin-bottom: 5px;
  font-size: 15px;
}

.buttonmodalproduct {
  width: 100px;
  float: left;
  background: #5f78ffcf;
  color: white;
  padding: 6px;
  margin-right: 10px;
  border-radius: 4px;
}

.buttonmodalproduct:hover {
  background-color: #5d5da2;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.buttonmodalproductinput {
  padding: 10px 25px;
  background-color: #5f78ffcf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  margin-left: 90%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.buttonmodalproductinput:hover {
  background-color: #5d5da2;
  border-radius: 5px;
  transition: 0.3s ease;
}

.total {
  font-size: 13px;
  position: relative;
  color: black;
  right: 282px;
  bottom: 3px;
}

.note {
  font-size: 13px;
    position: relative;
    color: black;
    right: 21px;
    top: -5px;
    bottom: 22px;
}

.subjudul2 {
  margin-right: 50px;
  float: left;
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.judulproductmodal {
  font-size: 40px;
  margin-top: 2%;
  text-align: center;
  font-family: cursive;
}

.border3 {
  position: fixed;
    bottom: 5px;
    right: 380px;
    width: 615px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    height: 0px;
}




.upd1 {
  width: 100px;
  float: right;
  background: #5f78ffcf;
  color: white;
  padding: 6px;
  margin-right: 10px;
  border-radius: 4px;
}
.upd1:hover {
  background-color: #5d5da2;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

#modalWrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-color: white;
  border: 1px saddlebrown;
  background: transparent;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#popup1 form input[type="submit"],
#popup1 form button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #5f78ffcf;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 66%;
  position: absolute;
  width: 90px;
}

.canbut {
  padding: 11px 16px;
  border: none;
  border-radius: 4px;
  background-color: #5f78ffcf;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 43%;
  position: absolute;
  width: 90px;
}

.label2 {
  display: inline-block;
  width: 25%;
  margin-bottom: 5px;
  font-size: 15px;
}

/* Add additional styles for form elements and buttons as needed */

.popupedit {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 995;
}

.popupedit input {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 13px;
  font-family: cursive;
}

.popupedit-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 800px;
  padding: 30px;
}

.selectpopupproduct {
  width: 70%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
  display: inline-block;
  margin-bottom: 13px;
  font-family: cursive;
}











.container{
  padding:8px;
  height: 758px;overflow:auto;
  width: 390px;
  resize: horizontal;
  display: none;
  box-shadow: -2px 0 1px rgba(0, 0, 0, 0.822), 2px 0 1px rgba(0, 0, 0, 0.822), 0 -2px 1px rgba(0, 0, 0, 0.829), 0 2px 1px rgba(0, 0, 0, 0.829);
}

.item{
  width: 390px;
  height: 60px;
  margin:10px;
  color:black;
}



.selectscript {
  position: absolute;
    left: 1099px;
    top: 116px;
}

.buttonscript {
  width: 228px;
    background-color: rgb(159 188 224);
    color: white;
    font-weight: 700;
    padding: 5px;
    border: none;
    box-shadow: black 1px 3px 3px;
}

.buttonscript:active {
  background-color: #1b04e4;
}

.dropscript {
  display: flex;
  flex-direction: column;
  display: none;
}

.dropscript button {
  width: 229px;
  background: #e8e9e8;
  border: none;
  box-shadow: 1px 2px 3px -1px;
  margin-bottom: 2px;
  margin-top: 2px;
}


.container-notification {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: #00000065;
}

.notification-success {
  background-color: rgb(161, 204, 253);
  border-radius: 5px;
  width: 21%;
  height: 25%;
  box-shadow: 3px 3px 8px 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-button {
  position: absolute;
  right: 40%;
  font-size: 20px;
  cursor: pointer;
  color: white;
  background: red;
  width: 3%;
  text-align: center;
  border: 2px solid white;
}

.title {
  display: inline-block;
  position: relative;
  right: 38%;
  font-weight: 400;
  font-size: 18px;
  padding: 5px;
}

.content{
  position: relative;
}

.content-top {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  width: 95%;
  height: 50%;
  background-color: white;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid rgba(99, 99, 99, 0.562);
}

.content-down {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
  width: 95%;
  height: 26%;
  background-color: rgb(235, 234, 234);
  border-right: 1px solid black;
  border-left: 1px solid rgba(99, 99, 99, 0.562);
  border-bottom: 1px solid black;

}

.content-down button {
  width: 30%;
  height: 60%;
  margin-left: 67%;
  box-shadow: 1px 1px 0px 1px;
}








.callcontrol {
  display: flex;
    gap: 13px;
    top: 526px;
    left: 342px;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 633px;
    height: 78px;
    background-color: rgb(215 215 215);
    border-radius: 5px;
}

.callcontrol input {
  background-color: rgb(249 249 249);
  border: none;
  position: relative;
  padding: 3px;
  border-radius: 3px;
  text-align: center;
  bottom: 0px;
  left: 203px;
  width: 230px;
}

#expert {
  background-color: rgb(215 215 215);
    border-radius: 5px;
    width: 540px;
    padding: 31px;
}

#expert input {
  border-radius: 5px;
}

.buttondown {
  padding: 2px 5px;
  color: white;
  background: blue;
  left: 180px;
  bottom: 27px;
  position: relative;
  border-radius: 5px;
  border: 1px solid #0000000d;
}

.buttondown:disabled {
  background-color: rgb(184, 184, 245);
}

.btndowncall {
  padding: 2px 5px;
    margin-left: 270px;
    left: 176px;
    bottom: 27px;
    color: white;
    background: blue;
    position: relative;
    border-radius: 5px;
    border: 1px solid #0000000d;
}

.btndowncall:disabled {
  background-color: rgb(184, 184, 245);
}

#btnRegister {
  padding: 2px 5px;
  position: relative;
  left: 93px;
  top: 33px;
  color: white;
  background: #02a902;
  border-radius: 5px;
  border: 1px solid #0000000d;
}

#btnRegister:disabled {
  background: #02a9026b;
}

#btnSetting {
  padding: 2px 5px;
  color: white;
  background: #02a902;
  border-radius: 5px;
  left: 127px;
  position: relative;
  top: 33px;
  border: 1px solid #0000000d;
}

#btnSetting:disabled {
  background: #02a9026b;
}

#btnSave {
  padding: 2px 5px;
  color: white;
  background: #02a902;
  border-radius: 5px;
  border: 1px solid #0000000d;
}

#btnSettingClose {
  padding: 2px 5px;
  color: white;
  background: rgb(221, 31, 31);
  border-radius: 5px;
  border: 1px solid #0000000d;
}

#clearLocalStorageButton {
  padding: 2px 5px;
  color: white;
  background: rgb(221, 31, 31);
  border-radius: 5px;
  border: 1px solid #0000000d;
}


#btnUnRegister {
  padding: 2px 5px;
  color: white;
  background: rgb(221, 31, 31);
  border-radius: 5px;
  position: relative;
  left: 52px;
  top: 33px;
  border: 1px solid #0000000d;
}

#btnUnRegister:disabled {
  background: rgba(255, 1, 1, 0.185);
}

#timer {
  background: transparent;
  border: none;
  font-weight: bold;
}


.glass-panel {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: Gray;
}

.div-keypad {
  z-index: 9999;
  position: fixed;
  transition-property: left top;
  -moz-transition-property: left top;
  -o-transition-property: left top;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
}








.boxhandle {
  position: relative;
    left: 240px;
    top: 65px;
    margin-top: 9px;
    width: 830px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: -5px 0 1px rgba(0, 0, 0, 0.822), 6px 0 1px rgba(0, 0, 0, 0.822), 0 -2px 1px rgba(0, 0, 0, 0.829), 0 2px 1px rgba(0, 0, 0, 0.829);
}


.boxhandle2 {
  position: relative;
  left: 240px;
  margin-bottom: 400px;
  top: 230px;
  width: 830px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: -5px 0 1px rgba(0, 0, 0, 0.822), 6px 0 1px rgba(0, 0, 0, 0.822), 0 -2px 1px rgba(0, 0, 0, 0.829), 0 2px 1px rgba(0, 0, 0, 0.829);
}

.persegi {
  height: 35px;
  width: 400px;
  color: white;
  background: linear-gradient(to right,#739bdb, #adc7e1);
  border-radius: 0px 20px 20px 0px;
  position: initial;
  font-weight: 700;
  align-items: center;
  text-align: left;
  display: flex;
  font-size: 13px;
  box-shadow: 3px 3px 3px black;
}

.bacper {
  background: linear-gradient(to right, #7c7c7c, #ffffff);
    position: relative;
    right: 143px;
    top: 10px;
    height: 35px;
    width: 550px;
    border-radius: 20px 0px 0px 20px;
}

.containertop {
  display: flexbox;
  position: relative;
  bottom: 33px;
  left: 60px;
}


.ordertime {
  position: relative;
  left: 345px;
  bottom: 27px;
  font-size: 13px;
}
.txtarea {
  width: 965px;
  height: 140px;
  margin-left: 10px;
  margin-top: 10px;
  resize: none;
  padding: 10px;
}
.txtarea1 {
  width: 965px;
  height: 140px;
  margin-left: 28px;
  margin-top: 10px;
  resize: none;
  background-color: white;
  margin-bottom: 40px;
  padding: 10px;
}

.ship {
  align-items: center;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  color: white;
}

.buttonmodalinfo {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #5f78ffcf;
  color: #fff;
  cursor: pointer;
  margin-top: 130px;
  float: right;
  margin-right: 90px;
}
.buttonmodalinfo1 {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #5f78ffcf;
  color: #fff;
  cursor: pointer;
  margin-top: 130px;
  float: right;
  margin-right: 20px;
}

.buttonmodalinfo1:hover {
  background-color: #5d5da2;
}
.buttonmodalinfo:hover {
  background-color: #5d5da2;
}

.subjudul {
  margin-bottom: 20px;
  font-size: 20px;
  margin-left: 3%;
  margin-top: 50px;
  color: white;
}

.inputlabel {
  font-size: 12px;
  color: black;
}

.inputmodal {
  width: 81%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  height: 20px;
  bottom: 5px;
  right: 138px;
  position: relative;
}

.selectform {
  width: 81%;
    right: 137px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    height: 20px;
    position: relative;
    bottom: 3px;
}

.inputmodalfield {
  width: 81%;
  right: 137px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
  height: 20px;
  position: relative;
  bottom: 6px;
}

.fild {
  padding: 20px;
  border: 3px solid #5f78ffcf;
  margin-top: 20px;
  width: 1025px;
  height: auto;
  position: relative;
}
.field1 {
  padding: 10px;
  border: 3px solid #5f78ffcf;
  margin-top: 20px;
  width: 1025px;
  height: auto;
  position: relative;
}

.formdiv {
  position: relative;
  bottom: 10px;
  right: 30px;
  width: 1000px;
}

.formdiv2 {
  top: 40px;
  position: relative;
  bottom: 10px;
  right: 30px;
  width: 1000px;
}

.input-container {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  width: 800px;
  position: relative;
  left: 200px;
  float: right;
  margin-bottom: 8px;
  bottom: 7px;
}

.label-container {
  display: inline-block;
    align-items: center;
    position: relative;
    left: 159px;
    bottom: 15px;
    margin-bottom: 8px;
}

#reminderPopup {
  display: none;
}

/* Modal Overlay */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

/* Modal */
.modal {
  width: 300px;
  max-width: 90%;
  background-color: #fff;
  margin: 10% auto;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close {
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 0;
}

.modal-body {
  padding: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  border-color: white;
  border: 1px saddlebrown;
  background: transparent;
}

.modalinput3 {
  border-radius: 5px;
  border-color: black;
  width: 185px;
  padding: 6px;
}

.btnmodal3 {
  margin-left: 65px;
  margin-top: 20px;
  border-color: #5f78ffcf;
  background-color: #5f78ffcf;
  border-radius: 5px;
  width: 130px;
  padding: 5px;
  color: white;
}

.popup-content {
  position: fixed;
  top: 86%;
  left: 82%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}


.borderform {
  position: fixed;
  bottom: -20px;
  right: 485px;
  height: 100px;
  width: 106px;
  border: none;
  background-color: white;
  display: flex;
  justify-content: center;
  z-index: 99;
  align-items: center;
}



.upd1 {
  width: 180px;
  float: right;
  background: #5f78ffcf;
  color: white;
  padding: 6px;
  margin-right: 20px;
  border-radius: 4px;
}
.upd1:hover {
  background-color: #5d5da2;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: 0.3s ease;
}

.popupstatus {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popupstatus-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 90px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 345px;
}

.popupstatus-content p {
  position: relative;
  bottom: 70px;
  font-weight: 600;
  font-size: 15px;
}

.close-btnstatus {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.formstatus {
  position: relative;
  right: 76px;
  height: 90px;
  width: 90px;
}

.formstatus label {
  position: relative;
  bottom: 60px;
}

.formstatus input[type="text"] {
  position: relative;
  bottom: 40px;
  width: 316px;
  height: 108px;
  padding: 11px;
  border: 1px solid black;
  border-radius: 3px;
}
.buttonstatus {
  border-radius: 5px;
  color: #5f78ffcf;
  background-color: white;
  border: 2px solid #5f78ffcf;
  padding: 8px 9px;
  position: relative;
  left: 222px;
  bottom: 14px;
  transition: all 0.2s;
}

.buttonstatus:hover {
  background-color: #5f78ffcf;
  color: white;
}

.popupstatus1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popupstatus-content1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 90px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 345px;
}

.popupstatus-content1 p {
  position: relative;
  bottom: 70px;
  font-weight: 600;
  font-size: 15px;
}

.close-btnstatus1 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.formstatus1 {
  position: relative;
  right: 76px;
  height: 90px;
  width: 90px;
}

.formstatus1 label {
  position: relative;
  bottom: 60px;
}

.formstatus1 input[type="text"] {
  position: relative;
  bottom: 40px;
  width: 316px;
  height: 108px;
  padding: 11px;
  border: 1px solid black;
  border-radius: 3px;
}
.buttonstatus1 {
  border-radius: 5px;
  color: #5f78ffcf;
  background-color: white;
  border: 2px solid #5f78ffcf;
  padding: 8px 9px;
  position: relative;
  left: 222px;
  bottom: 14px;
  transition: all 0.2s;
}

.buttonstatus1:hover {
  background-color: #5f78ffcf;
  color: white;
}

.popupstatus2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popupstatus-content2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 90px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 345px;
}

.popupstatus-content2 p {
  position: relative;
  bottom: 70px;
  font-weight: 600;
  font-size: 15px;
}

.close-btnstatus2 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.formstatus2 {
  position: relative;
  right: 76px;
  height: 90px;
  width: 90px;
}

.formstatus2 label {
  position: relative;
  bottom: 60px;
}

.formstatus2 input[type="text"] {
  position: relative;
  bottom: 40px;
  width: 316px;
  height: 108px;
  padding: 11px;
  border: 1px solid black;
  border-radius: 3px;
}
.buttonstatus2 {
  border-radius: 5px;
  color: #5f78ffcf;
  background-color: white;
  border: 2px solid #5f78ffcf;
  padding: 8px 9px;
  position: relative;
  left: 222px;
  bottom: 14px;
  transition: all 0.2s;
}

.buttonstatus2:hover {
  background-color: #5f78ffcf;
  color: white;
}

.popupstatus3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popupstatus-content3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 90px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 345px;
}

.popupstatus-content3 p {
  position: relative;
  bottom: 70px;
  font-weight: 600;
  font-size: 15px;
}

.close-btnstatus3 {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.formstatus3 {
  position: relative;
  right: 76px;
  height: 90px;
  width: 90px;
}

.formstatus3 label {
  position: relative;
  bottom: 60px;
}

.formstatus3 input[type="text"] {
  position: relative;
  bottom: 40px;
  width: 316px;
  height: 108px;
  padding: 11px;
  border: 1px solid black;
  border-radius: 3px;
}

.buttonstatus3 {
  border-radius: 5px;
  color: #5f78ffcf;
  background-color: white;
  border: 2px solid #5f78ffcf;
  padding: 8px 9px;
  position: relative;
  left: 222px;
  bottom: 14px;
  transition: all 0.2s;
}

.buttonstatus3:hover {
  background-color: #5f78ffcf;
  color: white;
}
/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  width: 315px;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.containertophandling {
  position: relative;
  width: 100%;
  bottom: 23px;
  left: 20px;
}

.handlingH {
  position: absolute;
  left: 180px;
  top: 10px;
  font-weight: 500;
}

.ordernumber {
  position: absolute;
  font-weight: 500;
  top: 10px;
}

.groupsH {
  position: absolute;
  top: 10px;
  right: 80px;
  font-weight: 500;
}

.containertopproduct {
  margin-bottom: 17px;
}

.tb1 {
  color: white;
  border: 1px solid black;
  border-collapse: collapse;
  width: 95%;
  margin-top: 40px;
  font-size: 12px;
  margin-bottom: 165px;
}

.tb1 th {
  padding: 5px 10px;
  background: #c5c5c5cf;
  color: black;
  font-weight: 500;
  border: 1px solid black;
  border-collapse: collapse;
}

.tb1 tr {
  text-align: center;
  padding-left: 10px;
}

.tb1 td {
  padding: 5px 10px;
  background: white;
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 13px;
}

.tb1handling {
  color: #000000cf;
  border: #5f78ffcf 2px;
  border-collapse: collapse;  
  border-spacing: 0;
  font-weight: bold;
  width: 95%;
  margin-top: 24px;
  font-size: 12px;
  margin-bottom: 20px;
}

.tb1handling th {
  padding: 9px 5px;
  color: black;
  text-align: left;
  border-bottom: 1px solid #00000045;
}

.tb1handling tr {
  text-align: center;
  padding-left: 10px;
}

.tb1handling td {
  padding: 4px 5px;
  background : linear-gradient(#0000000d 1%, white 10%);
  text-align: left;
  color: black;
  font-weight: 500;
  border-bottom: 1px solid #00000045;
}


#callstatus {
  position: absolute;
    right: 750px;
    top: 449px;
}



