body {
    font-family: "Gill Sans", sans-serif;
  }
  
  .topcontent {
    position: fixed;
      display: flex;
      top: 50px;
      background: white;
      gap: 15px;
      z-index: 90;
      height: 94px;
      width: 100%;
  }
  
  .search-input {
    height: 25px;
    width: 150px;
    position: relative;
    top: 51px;
    margin-left: 45px;
    text-align: center;
  }
  
  .content-container {
    position: relative;
    top: 88px;
  }
  
  .topcontent button {
    color: #000000cf;
      background-color: white;
      border: none;
      padding: 3px 3px;
      margin: 5px;
      height: 20px;
      top: 51px;
      font-size: 1vw;
      position: relative;
  }
  
  
  .table3 {
    color: #000000cf;
      border: #5f78ffcf 2px;
      width: 97%;
      font-size: 10px;
      margin-top: 55px;
      position: relative;
      border-collapse: collapse;
      left: 16px;
      border-spacing: 0;
      font-weight: bold;
  }
  
  
  
  .table3 th {
    position: sticky;
    padding: 9px 5px;
    font-size: 12px;
    top: 143px;
    background: white;
    color: black;
    text-align: left;
    border-bottom: 1px solid #00000045;
  }
  
  
  
  .table3 tr {
    text-align: center;
    padding-left: 20px;
  }
  
  .table3 td {
    padding: 4px 5px;
    background : linear-gradient(#0000000d 1%, white 10%);
    text-align: left;
    color: black;
    font-weight: 500;
    border-bottom: 1px solid #00000045;
  }
  
  /* Modal Container */
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 33%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
  }
  
  /* Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* Style the content inside the popup */
  #popup-content {
    font-size: 18px;
    padding: 10px;
  }
  
  .show-popup {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    display: inline-block;
  }
  
  .editpopup {
    display: flex;
    justify-content: space-between;
  }
  
  .editproductpopup,
  .editaddresproduct {
    flex: 1;
    margin-right: 20px;
    background-color: #adb9ff;
    height: 350px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .buttonedit {
    padding: 5px 40px;
    background: #7982b5;
    color: white;
    font-weight: 600;
    border: none;
  }
  .editaddresproduct h2 {
    margin-bottom: 30px;
  }
  
  .editproductpopup h2 {
    margin-bottom: 30px;
  }
  
  .editaddresproduct label {
    position: absolute;
    left: 52%;
  }
  
  .editaddresproduct input,select {
    position: absolute;
    left: 64%;
    width: 29%;
  }
  
  .editproductpopup input,select {
    position: absolute;
    left: 35%;
    width: 29%;
    top: 65px;
  }
  
  
  .editproductpopup label {
    position: absolute;
    left: 4%;
  }
  
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    position: relative;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  
  .containerauto{
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 60px;
  position: absolute;
  right: 4%;
  }
  
  .containerauto p{
    position: relative;
  font-size: 1vw;
  }
  
  .toggle-button {
    display: inline-block;
  width: 45px;
  height: 25px;
  background-color: #ccc;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  }
  
  .toggle-slider {
    width: 50%;
  height: 100%;
  background-color:rgb(247 180 0);
  border-radius: 15px;
  position: absolute;
  top: 0;
  transition: 0.4s;
  }